{
    "auth_url": "https://www.bondora.com/oauth/authorize",
    "client_id": "",
    "client_secret": "",
    "scope": [
        "BidsEdit",
        "BidsRead",
        "Investments",
        "ReportCreate",
        "ReportRead",
        "SmBuy",
        "SmSell"
    ],
    "token_type": "bearer",
    "token_url": "https://api.bondora.com/oauth/access_token",
}
